.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &__item {
    font-family: "DM Sans", sans-serif;
    min-height: 31.25em;
    background-position: center center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 2.5em;
  }

  &__item:hover {
    animation-name: slide-up;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, #ffc593, #bc7189, #5a77ff) 1;
    cursor: pointer;
  }

  &__item--mountains {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/mountains.jpg");
  }

  &__item--cityscapes {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/cityscapes.jpg");
  }

  &__item--voyage {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/18-days-voyage.jpg");
  }

  &__item--architecturals {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/architecturals.jpg");
  }

  &__item--world-tour {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/world-tour.jpg");
  }

  &__item--corners {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/unforeseen-corners.jpg");
  }

  &__item--africa {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/king-on-africa.jpg");
  }

  &__item--nowhere {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/trip-to-nowhere.jpg");
  }

  &__item--sea {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/rage-of-the-sea.jpg");
  }

  &__item--running {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/running-free.jpg");
  }

  &__item--waves {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/behind-the-waves.jpg");
  }

  &__item--waters {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/calm-waters.jpg");
  }

  &__item--milky-way {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/milky-way.jpg");
  }

  &__item--forest {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/dark-forest.jpg");
  }

  &__item--somwarpet {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/somwarpet.jpg");
  }

  &__item--dreams {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      ),
      url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/land-of-dreams.jpg");
  }

  &__cta {
    margin-bottom: 2.5em;
    margin-top: 1.25em;
    display: flex;
    justify-content: space-between;
    @include uppercase-cta;
  }

  &__author {
    padding-bottom: 1em;
    margin-top: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    line-height: 1em;
    font-size: 0.813em;
  }

  &__title {
    line-height: 1.563em;
    font-size: 1.125em;
  }

  &__date {
    font-size: 0.813em; 
    padding-bottom: 4px;
  }
}

/* animation */
@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-24px);
  }
}
