td {
  white-space: nowrap;
}

td img {
  margin: 0 auto;
}

td {
  border-bottom: 2px solid #dfdfdf;
  padding: 1.438rem 9.125rem 1.438rem 0;
}

th {
  border-bottom: 2px solid #000;
  padding: 1.438rem 9.125rem 1.438rem 0;
}


