.create-share {
  background-color: #000;
  color: #fff;
  @include base-font;
  display: flex;
  min-width: 610px;

  &__container {
    display: flex;
  }

  &__title {
    font-size: 2.5rem;
    @include uppercase-text;
    letter-spacing: 0.261rem;
    padding-bottom: 1.31rem;
  }

  &__body {
    font-size: 0.938rem;
    opacity: 0.6;
    padding-bottom: 3rem;
  }

  &__cta {
    display: flex;
    gap: 1rem;
  }

  &__cta:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__cta-text {
    @include uppercase-cta;
  }

  &__text-box {
    max-width: 387px;
    padding: 10.75rem 0;
    margin-inline: auto;
  }

  &__img-container {
    display: flex;
    min-height: 650px;
    width: 100%;
    min-width: 273px;
  }

  &__img {
    max-height: 650px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 273px;
  }
}

.beautiful-stories {
  background-color: #fff;
  color: #000;
  @include base-font;
  display: flex;
  min-width: 610px;

  &__container {
    display: flex;
  }

  &__title {
    font-size: 2.5rem;
    @include uppercase-text;
    letter-spacing: 0.261rem;
    padding-bottom: 1.31rem;
    max-width: 320px;
  }

  &__body {
    font-size: 0.938rem;
    opacity: 0.6;
    padding-bottom: 3rem;
  }

  &__cta {
    display: flex;
    gap: 1rem;
  }

  &__cta:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__cta-text {
    @include uppercase-cta;
  }

  &__text-box {
    padding: 8.5rem 0;
    margin-inline: auto;
    max-width: 387px;
  }

  &__img-container {
    display: flex;
    min-height: 600px;
    width: 100%;
    min-width: 273px;
  }

  &__img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 28% center;
    min-width: 273px;
  }
}

.designed-everyone {
  background-color: #fff;
  color: #000;
  @include base-font;
  display: flex;
  min-width: 610px;

  &__container {
    display: flex;
  }

  &__title {
    font-size: 2.5rem;
    @include uppercase-text;
    letter-spacing: 0.261rem;
    padding-bottom: 1.31rem;
    max-width: 320px;
  }

  &__body {
    font-size: 0.938rem;
    opacity: 0.6;
    padding-bottom: 3rem;
  }

  &__cta {
    display: flex;
    gap: 1rem;
  }

  &__cta:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &__cta-text {
    @include uppercase-cta;
  }

  &__text-box {
    padding: 8.5rem 0;
    margin-inline: auto;
    max-width: 387px;
  }

  &__img-container {
    display: flex;
    min-height: 600px;
    width: 100%;
    min-width: 273px;
  }

  &__img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 273px;
  }
}

@media (max-width: 883px) {
  .create-share,
  .beautiful-stories,
  .designed-everyone {
    min-width: 0;
    width: 100%;
  }

  .create-share__img-container,
  .beautiful-stories__img-container,
  .designed-everyone__img-container {
    max-width: 273px;
  }
}

// MOBILE
@media (width < 44em) {
  .create-share {
    &__container {
      flex-direction: column-reverse;
    }

    &__img-container{
      max-width: none;
      min-height: auto;
      max-height: 18em;
    }

    &__text-box {
      padding: 4.5em 1.5em 4.5em 2em;
    }
  }

  .beautiful-stories {
    &__container {
      flex-direction: column;
    }

    &__img-container {
      max-width: none;
    }

    &__text-box {
      padding: 4.5em 1.5em 4.5em 2em;
    }
  }


  .designed-everyone {
    &__container {
      flex-direction: column-reverse;
    }

    &__img-container {
      max-width: none;
    }

    &__text-box {
      padding: 6em 1.5em 6em 2em;
    }
  }

  .stories {
    &__item {
      min-height: 375px;
     
    }
  }
}
