/* STORIES PAGE */
.hero {
  background: url("/Users/nate/Desktop/Code/Portfolio Projects/photosnap/assets/stories/desktop/moon-of-appalacia.jpg") no-repeat center 20% / cover;
  color: #fff;
  padding: 7.625em 7em;
  min-height: 650px;
  &__container {
    max-width: 380px;
  }

  &__featured {
    @include uppercase-cta;
    padding-bottom: 1.5rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__data {
    display: flex;
    gap: 0.563em;
    padding-bottom: 1.5rem;
  }

  &__body {
    padding-bottom: 1.5rem;
  }

  &__cta {
    display: flex;
    gap: 16px;
  }
}
