.footer {
  background: #000;
  color: #fff;
  padding: 4em 10em;
  display: grid;
  grid-template: 1em 1em 1em 1.25em / 1fr 1fr 1fr;
  grid-template-areas:
    "logo home cta"
    ". stories ."
    ". features ."
    "socials pricing copyright";
  row-gap: 19px;

  &__logo {
    grid-area: logo;
  }

  &__socials {
    grid-area: socials;
    display: flex;
    gap: 0.813em;
  }

  &__socials:hover {
    cursor: pointer;
  }

  &__page--links {
    font-size: 0.75em;
    line-height: 1em;
    letter-spacing: 2px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__page--links:hover {
    opacity: 30%;
    cursor: pointer;
  }

  &__page--home {
    grid-area: home;
  }

  &__page--stories {
    grid-area: stories;
  }

  &__page--features {
    grid-area: features;
  }

  &__page--pricing {
    grid-area: pricing;
  }

  &__cta {
    grid-area: cta;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include uppercase-cta;
  }

  &__cta:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &__cta-text {
    padding-right: 1em;
  }

  &__copyright {
    grid-area: copyright;
    display: flex;
    justify-content: flex-end;
    font-size: 0.938em;
    opacity: 50.25%;
    font-family: "DM Sans", sans-serif;
  }
}
